<header class="dashboard-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <button class="nav-link" (click)="logout()">Logout</button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>


<main class="dashboard-main" *ngIf="user">
    <div class="container">
        <div class="row" id="userList">
            <div class="col-md-6 col-lg-4">
                <div class="user-card">
                    <!-- <img src={{user.thumbnail}} alt="User Image"> -->
                    <img  [src]="user?.thumbnail" alt="User Image">
                    <div class="card-body">
                        <h5 class="card-title">{{user.title}}</h5>
                        <p class="card-text">{{user.description}}</p>
                        <div class="card-buttons" *ngIf="userRole==1">
                            <button class="btn btn-primary" (click)="showUpdateModal(user)">Update</button>
                        </div>
                          <!-- Back button to go back to the dashboard -->
                          <button class="btn btn-link" (click)="goBackToDashboard()">Back to Dashboard</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>

<!-- Update Modal -->
<div class="modal" [ngClass]="{ 'show': isUpdateModalOpen }">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title">Update Card</h4>
                <button type="button" class="close" (click)="closeUpdateModal()">&times;</button>
            </div>
            <div class="modal-body">
                <form [formGroup]="updateForm" (submit)="updateUser()">
                    <div class="form-group">
                        <label for="updateTitle">Title</label>
                        <input type="text" class="form-control" id="updateTitle" formControlName="title">
                    </div>
                    <div class="form-group">
                        <label for="updateDescription">Description</label>
                        <textarea class="form-control" id="updateDescription" formControlName="description"></textarea>
                    </div>
                    <button type="submit" class="btn btn-success">Update</button>
                    <button type="button" class="btn btn-secondary" (click)="closeUpdateModal()">Cancel</button>
                </form>
            </div>
        </div>
    </div>
</div>