<header class="dashboard-header">
    <div class="container">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href="#">Dashboard</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="#">Profile</a>
                    </li>
                    <li class="nav-item">
                        <button class="nav-link" (click)="logout()">Logout</button>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>

<main class="dashboard-main">
    <div class="container">
        <h1>User List</h1>
        <div class="row" id="userList">
          <div class="col-md-6 col-lg-4" *ngFor="let item of userData">
                <div class="user-card">
                    <img src= {{item.thumbnail}} alt="User Image">
                    <div class="card-body">
                        <h5 class="card-title">{{item.title}}</h5>
                        <p class="card-text">{{item.description}}</p>
                        <div class="card-buttons" *ngIf="userRole==1">
                            <button class="btn btn-primary">Update</button>
                            <button class="btn btn-danger">Delete</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>